@import 'bulma/css/bulma.css';

:root {
    --site-blue: #1c28d3;
    --site-white: #fff2e6;
    --site-white-transparent: #d3d3d3dc;
    --site-pure-white: #ffffff;
    --site-pure-black: rgb(0, 0, 0);
    
    --site-primary: rgb(65, 250, 194);
}

body { 
    background-color: var(--site-pure-black); 
}

.logo-nav {
    width: 3.5rem;
    height: 3.5rem;
}

.center-simple-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text-main-landing {
    font-weight: 400;
    font-size: 30px;
}

.text-secondary-landing {
    font-weight: 200;
    font-size: 20px;
}

.container-rounded {
    border-radius: 25px;
}

.container-rounded-mini {
    border-radius: 15px;
}

.section-distance-self-top {
    margin: 20px 0 0 0;
}

.section-distance-self-all {
     margin: 20px 10px 0px 10px;
}

.section-round-self {
    border-radius: 15px;
}

.center-self {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-me-primary-bk {
    background-color: var(--site-primary);
}

.hero {
    background: rgb(255, 255, 255) url("/assets/img/desk-workspace.jpg") center / cover;
}

.hero-body {
    background: rgb(255, 255, 255) url("/assets/img/desk-workspace-icr.jpg") center / cover;
    z-index: 1;
    height: 730px;
}

.hero-body-cover {
    background: linear-gradient(180deg, rgba(189, 8, 8, 0) 10%, #c4c4c4 40%);
    height: 61rem;
    z-index: 2;
}

.about-section {
    background: white url("/assets/img/tools-workspace-resize.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

/* #bdbdbd */
.about-section::after{
    content: ' ';
    background: linear-gradient(180deg, #c1c0c0 50%, rgba(189, 8, 8, 0) 80%);
    position: absolute;
    z-index: 2;
    height: 60%;
    width: 100%;

    top: 0;
    left: 0;
    opacity: 0.8;   
}

.contact-section {
    /* background: linear-gradient(180deg, rgba(218, 218, 218, 0.842) 30%, #9c9c9c 80%); */
    background: white url("/assets/img/contact-original.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.contact-section::after {
    content: ' ';
    background: linear-gradient(0deg, #c1c0c0 50%, rgba(184, 184, 184, 0.527) 90%);
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    opacity: 0.82;  
}


/* embed bulma w/ css grid */

.grid {
    display: grid;
    grid-template-columns: [xl-start] 1fr 1.5rem [md-start] minmax(0, 624px) [md-end] 1.5rem 1fr [xl-end];
}

.grid * {
    grid-column: md;
}

.grid-xl {
    grid-column: xl;
}

.is-paddingless-horizontal {
    padding-left: 0;
    padding-right: 0;
}

.is-paddingless-top {
    padding-top: 0;
}

.is-paddingless-top-half {
    padding-top: 20px;
}

.has-padding-top {
    padding-top: 35px;
}

.code-snippet-small {
 
        padding: 0 20px;
        text-align: justify;

        height: 300px;
}

.navbar-logo {
    width: 3.75rem;
    height: 3rem;
}

.p-nav-color {
    color: black;
}

.subtitle-h1 {
    color: rgba(252, 252, 252, 0.644);
}

.subtitle-h2 {
    color: rgba(252, 252, 252, 0.836);
    font-size: 14px;
    font-weight: bold;
}

.nav-item-button {
    /* background: linear-gradient(125deg, rgba(187, 187, 187, 0.568) 65%, #cfcfcfb9 40%); */
    opacity: 0.65;
    box-shadow: 3px 3px rgba(129, 129, 129, 0.386);
}

.nav-item-button:hover {
    background-color: rgba(128, 128, 128, 0.514);
    box-shadow: 2px 2px rgba(255, 255, 255, 0.24);
    text-shadow: 10px;
}

.nav-item-button:hover p {
    color: rgba(255, 255, 255, 0.815);
}

@media (max-width: 672px) {
    :root {
        font-size: 90%;
    }
}

@media (max-width: 1024px) {
    .hero {
        background: white url("/assets/img/desk-workspace.jpg") center / cover;
    }

    .hero-body {
        background: white url("/assets/img/desk-workspace-icr.jpg") center/ cover;
    }
    .hero-body-cover {
        background: linear-gradient(180deg, rgba(189, 8, 8, 0) 10%, #c4c4c4 40%);
        height: 90em;
        z-index: 2;
    }
    .about-section {
        background: white url("/assets/img/tools-workspace-resize.jpg");
        background-size: center / cover;
        background-position: center;
        position: relative;
        z-index: 1;
    }
}

@media (max-width: 696px) {
    .hero {
        background: white url("/assets/img/desk-workspace.jpg") center / cover;
    }

    .hero-body {
        background: white url("/assets/img/desk-workspace-icr.jpg") center / cover;
    }
    .hero-body-cover {
        background: linear-gradient(180deg, rgba(189, 8, 8, 0) 10%, #c4c4c4 40%);
        height: 210em;
        z-index: 2;
    }
    .about-section {
        background: white url("/assets/img/tools-workspace-resize.jpg");
        background-size: center / cover;
        background-position: center;
        position: relative;
        z-index: 1;
    }
    
}

