@import 'bulma/css/bulma.css';

:root {
    --site-blue: #1c28d3;
    --site-white: #fff2e6;
    --site-white-transparent: #d3d3d3dc;
    --site-pure-white: #ffffff;
    --site-pure-black: rgb(0, 0, 0);
    
    --site-primary: rgb(65, 250, 194);
}



body { 
    background-color: var(--site-pure-black); 
}

.logo-nav {
    width: 6.25rem;
    height: 1rem;
}

.center-simple-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text-main-landing {
    font-weight: 400;
    font-size: 30px;
}

.text-secondary-landing {
    font-weight: 200;
    font-size: 20px;
}

.container-rounded {
    border-radius: 25px;
}

.container-rounded-mini {
    border-radius: 15px;
}

.section-distance-self-top {
    margin: 20px 0 0 0;
}

.section-distance-self-all {
     margin: 20px 10px 0px 10px;
}

.section-round-self {
    border-radius: 15px;
}

.center-self {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-me-primary-bk {
    background-color: var(--site-primary);
}

.hero {
    background: black url("/src/assets/tesla-roadster-desktop.jpg") center / cover;
}

/* embed bulma w/ css grid */

.grid {
    display: grid;
    grid-template-columns: [xl-start] 1fr 1.5rem [md-start] minmax(0, 624px) [md-end] 1.5rem 1fr [xl-end];
}

.grid * {
    grid-column: md;
}

.grid-xl {
    grid-column: xl;
}

.is-paddingless-horizontal {
    padding-left: 0;
    padding-right: 0;
}

.is-paddingless-top {
    padding-top: 0;
}

.is-paddingless-top-half {
    padding-top: 20px;
}

.has-padding-top {
    padding-top: 35px;
}

.code-snippet-small {
 
        padding: 0 20px;
        text-align: justify;

        height: 300px;
}

@media (max-width: 672px) {
    :root {
        font-size: 90%;
    }
}

@media (max-width: 1024px) {
    .hero {
        background: black url("/src/assets/tesla-roadster-desktop.jpg") center / cover;
    }
}

@media (max-width: 768px) {
    .hero {
        background: black url("/src/assets/tesla-roadster-mobile.jpg") center / cover;
    }
}
