@import 'bulma/css/bulma.css';

:root {
    --site-blue: #1c28d3;
    --site-white: #fff2e6;
    --site-white-transparent: #d3d3d3dc;
    --site-pure-white: #ffffff;
    
    --site-primary: rgb(65, 250, 194);
}

body { background-color: var(--site-pure-white); }

.center-simple-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text-main-landing {
    font-weight: 400;
    font-size: 30px;
}

.text-secondary-landing {
    font-weight: 200;
    font-size: 20px;
}

.container-rounded {
    border-radius: 25px;
}

.container-rounded-mini {
    border-radius: 15px;
}

.section-distance-self-top {
    margin: 20px 0 0 0;
}

.section-distance-self-all {
     margin: 20px 10px 0px 10px;
}

.section-round-self {
    border-radius: 15px;
}

.center-self {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-me-primary-bk {
    background-color: var(--site-primary);
}

/* embed bulma w/ css grid */

.grid {
    display: grid;
    grid-template-columns: [xl-start] 1fr 1.5rem [md-start] minmax(0, 624px) [md-end] 1.5rem 1fr [xl-end];
}

.grid * {
    grid-column: md;
}

.grid-xl {
    grid-column: xl;
}

.is-paddingless-horizontal {
    padding-left: 0;
    padding-right: 0;
}

.is-paddingless-top {
    padding-top: 0;
}

.is-paddingless-top-half {
    padding-top: 20px;
}

.has-padding-top {
    padding-top: 35px;
}

.code-snippet-small {
 
        padding: 0 20px;
        text-align: justify;

        height: 300px;
}

@media (max-width: 672px) {
    :root {
        font-size: 90%;
    }
}

/* coffee svg @codepen */

@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

.cup-container{
   transform: translate(-50%, 25%);
   position: absolute;
   top: 90%;
   left: 50%;
}
.sip-text {
   transform: translate(-50%, -50%);
   position: absolute;
   top: 90.5%;
   left: 49%;
   font-family: 'Courier New', Courier, monospace;
   font-size: 40px;
   color: #4c0000;
   text-shadow: -1px -1px 0 #423f3f, -1px 1px 0 #464343, 1px -1px 0 #888888, 1px 1px 0 #616161;
}

/* ANIMATE LIQUID FILL */
.liquid {
   transform: translateX(100%);
   transform: translateY(100%);
   opacity: 0.8;
   animation: fill 3.0s;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;
   animation-delay: 0 2s;
}

@keyframes fill {
   0%{
      opacity: 0.8;
      transform: translateY(100%);
   }
   100%{
      transform: translateY(0);
      opacity: 1;
   }

}

/* ANIMATE STEAM */
.steam {
   stroke: #F7F7F7;
   stroke-width: 1.5px;
   stroke-dasharray: 200;
   stroke-dashoffset: 200;
   opacity: 0.2;
   animation: steamAnimate 2.5s;
   animation-delay: 3.3s;
   animation-fill-mode: forwards;
}

@keyframes steamAnimate{
	0%{
		stroke-dashoffset: 200;
	}
	  
	100%{
		stroke-dashoffset: 0;
	}
}